[Unit]
Description=UWSGI daemon for group 09
After=network.target

[Service]
User=www-data
Group=www-data
ExecStart=/srv/www-data/group09/venv/bin/uwsgi --chdir=/srv/www-data/group09/sec -w sec.wsgi:application --processes=2 --uid=33 --gid=33 --harakiri=20 --home=/srv/www-data/group09/venv --http :4009 --master --daemonize=/srv/www-data/group09/group09.log

[Install]
WantedBy=multi-user.target
